{% extends 'users/base.html' %}

    {% load static %}

{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/appAccounts/login.css' %}">
{% endblock %}

{% block content %}

<h1>Login</h1>

<form method="post">
    {% csrf_token %}
    <label for="email">Email:</label>
    <input type="text" name="email" autocomplete="email" required>
    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <button type="submit">Login</button>

    <a href="{% provider_login_url 'google' %}" class="field google">
        <span>Sign up with Google</span>
    </a>

    <a href="{% provider_login_url 'github' %}" class="field github">
        <span>Sign up with GitHub</span>
    </a>

    <p>
        <a href="{% url 'register' %}">I don't have an account</a>
    </p>

    <p>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </p>
</form>
{% endblock content %}
    