<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitbank - Deposit</title>
</head>
<body>
    {% extends 'base.html' %}
    {% load static %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/transaction_deposit.css' %}">
    {% endblock %}
    {% block content %}
        <div class="transaction-deposit-container">
            <h1>Deposit Transaction</h1>
            <p>Fill in the details below to make a deposit.</p>

            <form method="POST" class="deposit-form" action="{% url 'transaction_deposit_generator' %}">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{ request.user.accountusername }}">
                <div class="form-group">
                    <label for="amount">Amount</label>
                    <input type="decimal" id="amount" name="amount" placeholder="Enter the amount" required>
                </div>

                <div class="form-group">
                    <label for="currency">Currency Type</label>
                    <select id="currency" name="currency" required>
                        {% for coin in coins %}
                            <option value="{{ coin.id }}">{{ coin.key }} - {{ coin.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="receiver">Receiver</label>
                    <input type="text" id="receiver" name="receiver" placeholder="Enter receiver's name" required>
                </div>

                <button type="submit" class="submit-button">Submit Deposit</button>
            </form>
        </div>
    {% endblock %}
</body>
</html>