<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitbank - Signup</title>
</head>
<body>
    {% extends 'base.html' %}

{% load static %}

{% load socialaccount %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block content %}
<h1>Register</h1>
<form method="post">
    {% csrf_token %}
        <label for="id_email">Email:</label>
        <input type="email" name="email" maxlength="255" autofocus required id="id_email">
    
      
        <label for="id_accountusername">Username:</label>
        <input type="text" name="accountusername" maxlength="255" required id="id_accountusername">
    
      
        <label for="id_accountnip">NIP:</label>
        <input type="number" name="accountnip" required id="id_accountnip">
    
      
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" autocomplete="new-password" aria-describedby="id_password1_helptext" id="id_password1">
        
          <span class="helptext" id="id_password1_helptext"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></span>
    
      
        <label for="id_password2">Password confirmation:</label>
        <input type="password" name="password2" autocomplete="new-password" aria-describedby="id_password2_helptext" id="id_password2">
        
        <p>
          <span class="helptext" id="id_password2_helptext">Enter the same password as before, for verification.</span>
        </p>
        
        <button type="sumbit">Sign up</button>

    <a href="{% provider_login_url 'google' %}" class="field google">
        <span>Sign up with Google</span>
    </a>

    <a href="{% provider_login_url 'github' %}" class="field github">
        <span>Sign up with GitHub</span>
    </a>

    <p>
        <a href="{% url 'login' %}">Login</a>
    </p>
</form>
{% endblock content %}
</body>
</html>
    


